@media (max-width: 700px) {
  body {
    font-size:2.5vmax !important;
  }
}

body {
  margin:auto;
  margin-left:10%;
  margin-right:10%;
  text-align:center;
  font-size:1.5vmax;
}

input {
  font-size:inherit;
}

#points {
  font-size: 4vmax;
}

nav a {
  margin:1em;
}

